
div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            ul#global-nav.nav.pull-left
                a(href='/myvisualight').brand My Visualight
            ul#global-nav.nav.pull-left
                a(href='https://github.com/lpercifield/visualight/wiki').brand Docs
            ul#global-nav.nav.pull-left
                a(href='http://forum.visualight.org').brand Forum
            button#btn-logout.btn.btn-primary
                i.icon-lock.icon-white
                | Sign Out

include account
                
#account-form-container
    form( method="post")#apikey-form.form-horizontal.well.span6
        h1
        hr
        fieldset
            #apikey-cg.control-group
                label.control-label(for='apikey-tf') API KEY
                .controls
                    input#apikey-tf.input-xlarge(type='text', name='API KEY', value= user.apikey)
            .form-actions
                button(type='button')#apikey-form-btn1.btn
                
include modals/alert
include modals/confirm

script(src='/js/views/home.js')
script(src='/js/controllers/homeController.js')